@import './variables';

.navbar {
  position: fixed;
  width: 100%;
  padding: 1rem;

  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 3px 11px 12px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 11px 12px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 11px 12px -5px rgba(0, 0, 0, 0.75);
}

.search {
  input {
    width: 500px;
    padding: 0.7rem 0 0.7rem 3rem;

    font-size: 20px;
    color: $GREY;

    background-color: $DISABLED;
    border: none;
    border-radius: 10px;

    font-family: 'Roboto', sans-serif;

    outline: none;
  }
}

.home {
  img {
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    padding: 1rem;
  }

  .search {
    input {
      width: 100%;
      padding-left: 1rem;
    }
  }
}
